<!DOCTYPE html>
<html>
  <body background="background.jpg">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Confetti Cuisine</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />
  </head>

  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Confetti Cuisine</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/courses.html"> <span class="button">Courses</span> </a>
        <a href="/contact.html"> <span class="button">Contact</span> </a>
        <a href="/recipes.html"> <span class="button">Recipes</span> </a>
        <a href="/techniques.html"> <span class="button">Techniques</span> </a>
        <a href="/careers.html"> <span class="button">Careers</span> </a>
      </div>
      <div></div>
    
    <div class="container">
      <div class="row">
      <div class="col-sm-6"><img src="/chef.jpg" alt="" /></div>
      <div class="col-sm-6">
       <div>
         <h1 class="title"><p><font size="6">A Passion for Cooking Starts with Respect for the Ingredients....</font></p></h1>
         <h3 class="title"><p><font size="6">How to Become a Professional Chef:</font></p></h3>
        <ul>
          <li>Executive Chef</li>
          <li>Sous chef</li>
          <li>Senior Chef</li>
          <li>Demi Chef</li>
          <li>Pastry Chef</li>
         </p>
         <br>
         <h2 class="title2"><p><font size="5"> "Tell us about yourself so we can find programs near you."</font></p></h2>
         <form action="/action_page.php">
         ZIP or Postal Code:<br>
          <input type="text" name="ZIP or Postal Code" value="">
          <br>
          <br>
          High school Graduation Year:<br>
          <select>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
              </select>
          <br>
          <br>
          Highest level of Education:<br>
          <select>
                <option value="Some High School">Some High School</option>
                <option value="High School Diploma (or GED)">High School Diploma (or GED)</option>
                <option value="Some College (No Degree)">Some College (No Degree)</option>
                <option value="Associate's Degree">Associate's Degree</option>
                <option value="Bachelor's Degree">Bachelor's Degree</option>
                <option value="Master's or Higher">Master's or Higher</option>
              </select>
          <br>
          <br>
          <form class="contact-form" action="/" method="post"></form>
          <input class="button" type="submit" value="submit" />
        </form>
        <p>We'll get back to you soon!</p>
        </div>
        </p>
        </p>
        </ul>
      </div>
    </div>
  </p>
  </body>
          </p>
        <a href="/careers.html"></a>
      </div>
    </div>
  </div>
  </body>
</html>