<!DOCTYPE html>
<html>
    <body background="background.jpg">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Confetti Cuisine</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />
  </head>

  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Confetti Cuisine</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/courses.html"> <span class="button">Courses</span> </a>
        <a href="/contact.html"> <span class="button">Contact</span> </a>
        <a href="/recipes.html"> <span class="button">Recipes</span> </a>
        <a href="/techniques.html"> <span class="button">Techniques</span> </a>
        <a href="/careers.html"> <span class="button">Careers</span> </a>
      </div>
    </div>

    <div class="container">
      <div class="row">
      <div class="col-sm-6"><img src="/food.jpg" alt="" /></div>
      <div class="col-sm-6">
        <h1 class="title">Make a delicious recipes with the help of Confetti Cuisine</h1><br>
        <h3>Our Recipes:</h3>
        <ul></ul>
          <table style="width:100%">
            <tr>
              <th>Breakfast/Brunch</th>
              <th>Appitizers/Snacks</th>
              <th>Vegetarian Recipes</th>
              </tr>
              <td>The Scramble Breakfast Dish Recipe</td>
              <td>Tomato Bruschetta Recipe</td>
              <td>Roasted Potatoes Recipe</td>
            </tr>
            <tr>
              <td>Morning Muffins Recipe</td>
              <td>Bacon Wrapped Dried Apricots Recipe</td>
              <td>Cauliflower Cheese Pie Recipe</td>
            </tr>
            <tr>
              <td>Chunky Pancakes Recipe</td>
              <td>Black Bean and Roasted Corn Salsa Recipe</td>
              <td>Cheese Noodles Recipe</td>
            </tr>
            </table>
            <p>
              <p>
              <a href="/contact.html">Learn more about recipes, such as Desserts Recipe, Pasta Recipes, and many more..</a> today!
            </p>
    </div>
    </div>
    </div>
  </div>
  </body>
</html>