<!DOCTYPE html>
<html>
    <body background="background.jpg">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Confetti Cuisine</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />
  </head>

  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Confetti Cuisine</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/courses.html"> <span class="button">Courses</span> </a>
        <a href="/contact.html"> <span class="button">Contact</span> </a>
        <a href="/recipes.html"> <span class="button">Recipes</span> </a>
        <a href="/techniques.html"> <span class="button">Techniques</span> </a>
        <a href="/careers.html"> <span class="button">Careers</span> </a>
      </div>
    </div>

    <div class="container">
      <div class="row">
      <div class="col-sm-6"><img src="/technique.jpg" alt="" /></div>
      <div class="col-sm-6">
        <h1 class="title">Use the techniques we use to make our food</h1><br>
        <h3>Our Techniques:</h3>
        <ul>
          <li>Baking</li>
          <li>Frying</li>
          <li>Roasting</li>
          <li>Grilling</li>
          <li>Steaming</li>
          <li>Poaching</li>
          <li>Simmering</li>
          <li>Broiling</li>
          <li>Blanching</li>
          <li>Braising</li>
          <li>Stewing</li>
        </ul>
            <p>
              <p>
              <a href="/contact.html">Learn more about techniques and many more..</a> today!
            </p>
    </div>
    </div>
    </div>
  </div>
  </body>
</html>